<h1>We got {{allCelebs.length}} celebs in our DM !</h1>

<h2>The list</h2>

<ul>
    {{#each allCelebs}}
    <li> {{name}}</li>
    <li>{{occupation}}</li>
    <li>{{catchPhrase}}</li>
    {{/each}}
</ul>